label{ 
  display: block;
  text-align: center;
  font-size: 1.3em;
  width: 90%;
}

input{ 
  box-sizing: border-box;
  width: 90%;
  padding: 12px 12px;
}
.font-size{
  font-size: 1.3em
}


@media screen and (min-width: 510px) {
  #meat {
  text-align: center;
  margin: 3% auto 0 auto;
  width: 65%;
  }
  .fontsize{
    font-size: 1.2em;
  }
  input {
    width: 100%;
  }
  #submit {
    width: 30%;
    display: block;
    margin: 0;
    font-size: 0.9em;
  }
}

@media screen and (min-width: 700px) {
  #meat {
  width: 450px;
  
  }
  
  #submit {
    width: 20%;
    
  }
  
}
  
  
  
  
  
  
  
  
  
